.user-detail-wrapper {
  display: flex;
  margin: 12px;
  align-items: flex-start;
}
.profile-container, .information-container {
  background-color: #ffffff;
  padding: 16px;
} 
.profile-container {
  font-size: 14px;
  width: 400px;
  margin-right: 16px;
  .profile {
    display: flex;
    .info {
      display: flex;
      flex-direction: column;
      margin-left: 8px;
      justify-content: space-around;
    }
    .name {
      font-size: 28px;
    }
  }
  .system-info {
    margin-top: 16px;
    margin-left: 72px;
    span {
      color: #888888;
    }
  }
}

.information-container {
  flex: 1;
  background: none;
  padding: 0;
}
.static-image {
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
.form {
  max-width: 1200px;
  .form-item-text {
    padding-left: 8px;
  }
}
.form-group-title {
  margin-left: 64px;
  margin-bottom: 16px;
  padding-bottom: 8px;
  font-weight: bold;
  color: #8e8e8e;
  border-bottom: 1px solid #dddddd;
}
.fturGroup-btn {
  margin-left: 64px;
  margin-bottom: 8px;
}
.user-info-panel {
  display: flex;
  > form {
    min-width: 800px;
  }
}